.container {
  //   padding: 50px 50px 50px 0;
  margin-right: 0 !important;
  display: grid;
}

.productColumn {
  border-top: 1px solid lightgray;
  width: 100%;
  display: flex;
  gap: 10px;
  padding: 10px 10px;
  flex-wrap: wrap;
  justify-content: space-between;

  &:last-child {
    border-bottom: 1px solid lightgray;
  }

  &:hover {
    // background-color: gray;
    outline: 2px solid lightblue;
    border-top: 1px solid white;
    border-radius: 5px;
  }

  & a {
    display: flex;
    gap: 20px;
    align-items: center;
    text-decoration: none;
  }
}

.product-grupa {
  // width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  // justify-content: space-between;
  padding: 10px 0;

  & i {
    color: white;
  }
}

.product-slika {
  // width: 155px;
  // min-height: 122px;
  background-color: lightgray;

  & img {
  }
}

.product-opis {
  display: flex;
  max-width: 730px;
}
