.loader {
  margin-top: 38vh;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 150px;
}

#spinnerSmall {
  // position: absolute;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}
