.menu-side {
  height: 92vh;
  scrollbar-width: thin;
  scrollbar-face-color: #73b713;
}

#side-bar-section {
  width: 350px;
  margin-left: 0;
  margin-top: 10px;
  position: fixed;
  left: 0%;
  float: left;
  height: 92vh;
  overflow-y: auto;
  z-index: 1;
  scrollbar-width: thin;
}

#side-bar-section > div {
  margin-bottom: 30px;
}

.side-bar {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  padding-left: 0;
  width: 350px;
  box-sizing: border-box;
}
.side-bar > li {
  list-style-type: none;
  margin-bottom: 20px;
  position: relative;
  box-sizing: border-box;
  width: calc(250px - 20px);
  padding-left: 20px;
  height: 25px;
}
